asyncpg
bubbly
joblib
matplotlib
numpy
optuna
pandas
plotly
prophet
psycopg2-binary==2.9.2
pydantic[email]
pydantic-settings
scikit-learn
scipy
seaborn
SQLAlchemy
statsmodels
uuid7
wordcloud
xgboost
kafka-python
